{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 120,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        },
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "tailwindConfig": "./tailwind.config.js",
    "tailwindFunctions": ["clsx", "cn", "twMerge"],
    "tailwindAttributes": ["class", ":class", "className"]
}
